.container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3.2rem;
    background-color: var(--white);
    border-radius: 0.8rem;
    box-shadow: 0px 14px 23px -8px rgba(0,0,0,0.31);
    -webkit-box-shadow: 0px 14px 23px -8px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 14px 23px -8px rgba(0,0,0,0.31);
}

.container img {
    display: flex;
    align-self: flex-end;
    width: 6.4rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
